<div class = "mainBox">
    <button (click) = "isButtonClicked(0)" class="button">
        {{buttonTextAndInfoPanel[0].text?"↓ Информация за мен":"→ Информация за мен"}}
    </button>

    <div *ngIf = "buttonTextAndInfoPanel[0].visibility" class="infoBox">
        <h3>Име: Георги Христов
            <br>
            Курс: Информатика 4ти курс</h3>
    </div>

    <button (click) = "isButtonClicked(1)" class="button">
        {{buttonTextAndInfoPanel[1].text?" ↓ Хобита и интереси":"→ Хобита и интереси"}}
    </button>

    <div *ngIf = "buttonTextAndInfoPanel[1].visibility" class="infoBox">
        <h3>Едно от хобитата мие е да играя DnD</h3>
    </div>

    <button (click) = "isButtonClicked(2)" class="button">
        {{buttonTextAndInfoPanel[2].text?" ↓ Link към канала на любимия ми content creator":"→ Link към канала на любимия ми content creator"}}
    </button>

    <div *ngIf = "buttonTextAndInfoPanel[2].visibility" class="infoBox">
        <h3><a href="https://www.youtube.com/@criticalrole/featured">Link</a></h3>
    </div>

    <button (click) = "isButtonClicked(3)" class="button">
        {{buttonTextAndInfoPanel[3].text?" ↓ Информация за моя канал":"→ Информация за моя канал"}}
    </button>

    <div *ngIf = "buttonTextAndInfoPanel[3].visibility" class="infoBox">
        <h3>Ще качвам клипове за DnD :D</h3>
    </div>

    <button (click) = "isButtonClicked(4)" class="button">
        {{buttonTextAndInfoPanel[4].text?" ↓ Примерно остойностяване":"→ Примерно остойностяване"}}
    </button>

    <div *ngIf = "buttonTextAndInfoPanel[4].visibility" class="infoBox">
        <h3>Абонамент по 5 лв. на месец</h3>
    </div>
</div>